body{
    margin:5px;
    padding:5px;
    line-height:1.15;
 }
  
 h1,h2, h3{
    font-weight: bold;
    margin-top:15px;
  
 }
 ul li{
    margin-left: 25px;
    list-style-type: upper-roman;
    background-color: aqua;
    list-style: none;
    display: inline-block;
    border-radius: 40px;
    text-align: left;
    padding: 10px;
    height: 22px;
    width: 200px;
    border: 2px solid black;
    font-size: 20px;
 }
 
main img{
   width: 24%;
   box-sizing: border-box;
   padding: 11px;
   border: 4px double black;
 }
 
p{
   font-size: 10px;
   font-style: italic;
   background-color: aliceblue;
   border: 1px solid blue;
 }